@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: .2s linear;
}

:root{
  --blue: #2e3236;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

header{
  position: fixed;
  top: 0;
  left: 0;  
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.left-section{
  display: flex;
  align-items: center;
  gap: 3rem;
}

header .toggler{
    font-size: 1.9rem;
    cursor: pointer;
    background: none;
    margin-right: .5rem;
}

header .logo{
  font-size: 2rem;
  color: #333;
  font-weight: bolder;
  
}

header .logo span{
  color: var(--blue);
}

header .navbar{
  display: flex;
  align-items: center;
}
header .navbar a{
  font-size: 1.5rem;
  padding: 0 1.5rem;
  color: #666;
  font-weight: 500;
  margin-left: 2rem;
}

header .navbar a:hover{
  color: var(--blue);
}

header .navbar a:last-child{
  color: #f00;
  font-weight: bold;
}

header .toggler{
    font-size: 1.9rem; 
    cursor: pointer;
    background: none;
}